.link-button{
    font-family: '';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    background: #eaecf0;
    border-radius: 8px;
    text-decoration: none;
}
#btn_zuri{
    font-family: '';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    background: #eaecf0;
    border-radius: 8px;
    text-decoration: none;
}
#books{
    font-family: '';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    background: #eaecf0;
    border-radius: 8px;
    text-decoration: none;
}
#book_python{
    font-family: '';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    background: #eaecf0;
    border-radius: 8px;
    text-decoration: none;
}
#pitch{
    font-family: '';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    background: #eaecf0;
    border-radius: 8px;
    text-decoration: none;
}
#book_design{
    font-family: '';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #101828;
    background: #eaecf0;
    border-radius: 8px;
    text-decoration: none;
}
.main-btn{
    text-align: center;
    margin-top: 50px;
}
@media screen and (min-width:300px) {
    .link-button{
        padding: 1rem 6rem 1rem 6rem;
    }
    #btn_zuri{
        padding: 1rem 6.5rem 1rem 6.5rem;
    }
    #books{
        padding: 1rem 6.5rem 1rem 6.5rem;
    }
    #book_python{
        padding: 1rem 5.8rem 1rem 5.8rem;
    }
    #pitch{
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
    #book_design{
        padding: 1rem 6.5rem 1rem 6.5rem;
    }
}
@media screen and (min-width:480px) {
    .link-button{
        padding: 1rem 11rem 1rem 11rem;
    }
    #btn_zuri{
        padding: 1rem 11.5rem 1rem 11.5rem;
    }
    #books{
        padding: 1rem 11.5rem 1rem 11.5rem;
    }
    #book_python{
        padding: 1rem 10.8rem 1rem 10.8rem;
    }
    #pitch{
        padding: 1rem 6.5rem 1rem 6.5rem;
    }
    #book_design{
        padding: 1rem 11rem 1rem 11rem;
}
}
@media screen and (min-width: 600px) {
    .link-button{
        padding: 1rem 15rem 1rem 15rem;
    }
    #btn_zuri{
        padding: 1rem 15.5rem 1rem 15.5rem;
    }
    #books{
        padding: 1rem 15.5rem 1rem 15.5rem;
    }
    #book_python{
        padding: 1rem 14.8rem 1rem 14.8rem;
    }
    #pitch{
        padding: 1rem 10.5rem 1rem 10.5rem;
    }
    #book_design{
        padding: 1rem 15rem 1rem 15rem;
}
}
@media screen and (min-width:768px) {
    .link-button{
        padding: 1rem 20rem 1rem 20rem;
    }
    #btn_zuri{
        padding: 1rem 20.5rem 1rem 20.5rem;
    }
    #books{
        padding: 1rem 20.5rem 1rem 20.5rem;
    }
    #book_python{
        padding: 1rem 19.8rem 1rem 19.8rem;
    }
    #pitch{
        padding: 1rem 15.5rem 1rem 15.5rem;
    }
    #book_design{
        padding: 1rem 20rem 1rem 20rem;
}
}
@media screen and (min-width: 1024px){
    .link-button{
        padding: 1rem 28rem 1rem 28rem;
    }
    #btn_zuri{
        padding: 1rem 28.5rem 1rem 28.5rem;
    }
    #books{
        padding: 1rem 28.5rem 1rem 28.5rem;
    }
    #book_python{
        padding: 1rem 27.8rem 1rem 27.8rem;
    }
    #pitch{
        padding: 1rem 23.5rem 1rem 23.5rem;
    }
    #book_design{
        padding: 1rem 28rem 1rem 28rem;
}
}
@media screen and (min-width:1200px){
    .link-button{
        padding: 1rem 33rem 1rem 33rem;
    }
    #btn_zuri{
        padding: 1rem 33.5rem 1rem 33.5rem;
    }
    #books{
        padding: 1rem 33.5rem 1rem 33.5rem;
    }
    #book_python{
        padding: 1rem 32.8rem 1rem 32.8rem;
    }
    #pitch{
        padding: 1rem 28.5rem 1rem 28.5rem;
    }
    #book_design{
        padding: 1rem 33rem 1rem 33rem;
}
}